<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}{% trans %}Edit part %id%{% endtrans %}{% endblock %}</title>
        {% block stylesheets %}
            <link href="{{ asset('/bundles/storekeeperinventory/css/bootstrap.min.css') }}" type="text/css" rel="stylesheet" />
            <link href="{{ asset('/bundles/storekeeperinventory/css/bootstrap-theme.min.css') }}" type="text/css" rel="stylesheet" />
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}
        <script src="{{ asset('/bundles/storekeeperinventory/js/bootstrap.min.js') }}" type="text/javascript"></script>
        {% endblock %}
        <h2>{% trans %}Edit part %id%{% endtrans %}</h2>
        <h3><a href="{{ path('homepage') }}" class="btn btn-primary">{% trans %}Homepage{% endtrans %}</a></h3>

        
<h3>Formulaire d'annonce</h3>
<div class="well">
  {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
    {# Les erreurs générales du formulaire. #}
    {{ form_errors(form) }}
    <div class="form-group">
      {# Génération du label. #}
      {{ form_label(form.name, "Titre de l'annonce", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
      {# Affichage des erreurs pour ce champ précis. #}
      {{ form_errors(form.name) }}
      <div class="col-sm-4">
        {# Génération de l'input. #}
        {{ form_widget(form.name, {'attr': {'class': 'form-control'}}) }}
      </div>
    </div>
    {# Idem pour un autre champ. #}
    <div class="form-group">
      {{ form_label(form.description, "Contenu de l'annonce", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
      {{ form_errors(form.description) }}
      <div class="col-sm-4">
        {{ form_widget(form.description, {'attr': {'class': 'form-control'}}) }}
      </div>
    </div>
  {# Pour le bouton, pas de label ni d'erreur, on affiche juste le widget #}
  {{ form_widget(form.save, {'attr': {'class': 'btn btn-danger'}}) }}
  {# Génération automatique des champs pas encore écrits.
     Dans cet exemple, ce serait le champ CSRF (géré automatiquement par Symfony !)
     et tous les champs cachés (type « hidden »). #}
  {{ form_rest(form) }}
  
  {# Fermeture de la balise <form> du formulaire HTML #}
  {{ form_end(form) }}
</div>
    </body>
</html>